{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "indent": [2, 4],
    "comma-dangle": 0,
    "max-len": [2, 120],
    "consistent-return": 0,
    "generator-star-spacing": "off",
    "class-methods-use-this": 0,
    "arrow-parens": ["off"],
    "object-curly-spacing": [2, "never"],
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": [2, { "ignore": ["electron"] }],
    "no-use-before-define": "off",
    "react/jsx-no-bind": 0,
    "react/jsx-indent": [2, 4],
    "react/jsx-indent-props": [2, 4],
    "react/jsx-first-prop-new-line": 0,
    "react/require-extension": 0,
    "react/forbid-prop-types": 0,
    "react/no-unused-prop-types": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx"] }],
    "jsx-a11y/no-static-element-interactions": 0
  },
  "plugins": [
    "import",
    "react"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
         "config": "webpack.config.eslint.js"
       }
     }
  }
}
