{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "indent": [2, 4],
    "comma-dangle": 0,
    "max-len": [2, 120],
    "consistent-return": 0,
    "no-use-before-define": 0,
    "object-curly-spacing": [2, "never"],
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": [2, { "ignore": ["electron"] }],
    "react/jsx-no-bind": 0,
    "react/jsx-indent": [2, 4],
    "react/require-extension": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx"] }]
  },
  "plugins": [
    "import",
    "react"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
         "config": "webpack.config.eslint.js"
       }
     }
  }
}
