{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "indent": [2, 4],
    "comma-dangle": "off",
    "max-len": [2, 120],
    "consistent-return": "off",
    "generator-star-spacing": "off",
    "class-methods-use-this": "off",
    "arrow-parens": ["off"],
		"object-curly-spacing": [2, "never"],
		"import/named": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-named-as-default-member": "off",
    "no-use-before-define": "off",
		"no-underscore-dangle": "off",
		"no-param-reassign": "off",
		"react/no-array-index-key": "off",
		"react/no-string-refs": "off",
    "react/jsx-no-bind": "off",
    "react/jsx-indent": [2, 4],
    "react/jsx-indent-props": [2, 4],
    "react/jsx-first-prop-new-line": "off",
    "react/require-extension": "off",
    "react/forbid-prop-types": "off",
    "react/no-unused-prop-types": "off",
		"react/prefer-stateless-function": "off",
		"react/destructuring-assignment": "off",
		"react/jsx-one-expression-per-line": "off",
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx"] }],
		"react/require-default-props": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "object-property-newline": "warn",
    "object-curly-newline": "off",
		"function-paren-newline": "off",
		"no-unused-expressions": ["error", { "allowTernary": true }]
  },
  "plugins": [
    "import",
    "react",
    "promise"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
         "config": "webpack.config.eslint.js"
       }
     }
  }
}
