# appveyor file
# http://www.appveyor.com/docs/appveyor-yml

# Test against this version of Node.js
os: unstable

cache:
  - node_modules

environment:
  matrix:
    - nodejs_version: '5'
    - nodejs_version: '6'

matrix:
  fast_finish: true

platform:
  - x86
  - x64

branches:
  only:
    - master

# Install scripts. (runs after repo cloning)
install:
  - ps: Install-Product node $env:nodejs_version
  - set CI=true
  - npm -g install npm@latest
  - set PATH=%APPDATA%\npm;%PATH%
  - npm install
  - npm run postinstall

# Post-install test scripts.
test_script:
  - node --version
  - npm --version
  - npm run pretest
  - npm run lint
  - npm run build

# Don't actually build.
build: off
version: "{build}"
shallow_clone: true
clone_depth: 1
