
.container {
    display: flex;
    width: 100px;
    height: 100px;
    color: #666;
    cursor: pointer;
    border-radius: 5px;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    -webkit-user-select: none;
}

.container:hover {
    background-color: rgba(223, 223, 223, 0.3);
}

.text {
    display: inline-flex;
    width: 90%;
    height: 30px;
    font-size: 12px;
    word-break: break-all;
    text-overflow: ellipsis;
    justify-content: center;
    align-items: baseline;
    overflow: hidden;
    text-align: center;
}

.bucketicon {
    display: flex;
    width: 60px;
    height: 60px;
}
