
.container {
    display: flex;
    width: 100px;
    min-height: 100px;
    color: #666;
    cursor: pointer;
    border-radius: 5px;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
}

.container:hover {
    background-color: #f3f5f9;
}

.text {
    display: inline-flex;
    width: 90%;
    font-size: 12px;
    margin-top: 5px;
    overflow: hidden;
    text-align: center;
    line-height: 15px;
    align-items: baseline;
    word-break: break-all;
    justify-content: center;
}

.fileicon {
    display: flex;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
}
