
.container {
    display: flex;
    width: 90px;
    color: #666;
    min-height: 80px;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    -webkit-user-select: none;
}

.text {
    display: inline-flex;
    flex: auto;
    width: 90%;
    font-size: 12px;
    overflow: hidden;
    text-align: center;
    line-height: 15px;
    align-items: center;
    word-break: break-all;
    justify-content: center;
}

.fileicon {
    display: flex;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    margin-top: 5px;
}
