
.container {
    display: flex;
    width: 90px;
    color: #666;
    min-height: 80px;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    -webkit-user-select: none;
}

.text {
    flex: auto;
    width: 95%;
    font-size: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.text:before {
    display: inline;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    content: attr(data-tip);
}

.fileicon {
    display: flex;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    margin-top: 5px;
}
