
.container {
    display: flex;
    height: 50px;
    flex-shrink: 0;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    border-bottom: 1px solid #f3f5f9;
}

.nav {
    height: 30px;
    display: flex;
    padding-left: 10px;
    align-self: center;
}

.nav span {
    display: flex;
    width: 40px;
    height: 28px;
    cursor: pointer;
    color: #8692b2;
    margin-right: 10px;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    border: 1px solid #f3f5f9;
}

.nav span:hover {
    background-color: #f3f5f9;
}

.nav span.disable {
    color: #ccc;
    cursor: not-allowed;
}

.url {
    display: flex;
    flex: auto;
    height: 28px;
    font-size: 12px;
    color: #8692b2;
    position: relative;
    align-self: center;
    -webkit-user-select: text;
}

.input {
    display: inline-flex;
    flex: auto;
    outline: none;
    padding: 0 5px;
    color: #8692b2;
    border-left: none;
    border-top: 1px solid #f3f5f9;
    border-right: 1px solid #f3f5f9;
    border-bottom: 1px solid #f3f5f9;
}

.input:focus, .input:hover {
    border-color: #2eacfc;
}

.region {
    display: inline-flex;
    width: 40px;
    color: #fff;
    cursor: pointer;
    line-height: 22px;
    position: relative;
    align-items: center;
    background: #2eacfc;
    padding: 0 5px 0 10px;
}

.range {
    position: absolute;
    left: 0;
    top: 28px;
    margin: 0;
    padding: 0;
    z-index: 10;
    display: none;
    color: #8692b2;
    list-style: none;
    background: #fff;
    width: calc(100% - 2px);
    border: 1px solid #2eacfc;
}

.range li {
    display: flex;
    flex: auto;
    height: 28px;
    padding: 0 5px;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in;
}

.range li:hover {
    background: #deeff5;
}

.region:hover .range {
    display: flex;
    flex-flow: column nowrap;
}

.match {
    position: absolute;
    top: 28px;
    padding: 0;
    margin: 0;
    left: 54px;
    z-index: 10;
    list-style: none;
    background: #fff;
    width: calc(100% - 56px);
    border-left: 1px solid #2eacfc;
    border-right: 1px solid #2eacfc;
    border-bottom: 1px solid #2eacfc;
}

.match li {
    padding: 0 5px;
    line-height: 20px;
}

.selected {
    background: #deeff5;
}
