
.container {
    display: flex;
    height: 60px;
    flex-shrink: 0;
    align-items: center;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
    -webkit-user-select: none;
}

.nav {
    display: flex;
    height: 30px;
    padding-left: 10px;
}

.nav span {
    display: flex;
    width: 40px;
    height: 30px;
    cursor: pointer;
    color: #8692b2;
    margin-right: 10px;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    border: 1px solid #f3f5f9;
}

.nav span:hover {
    background-color: #f3f5f9;
}

.nav span.disable {
    color: #ccc;
    cursor: not-allowed;
}

.url {
    display: flex;
    flex: auto;
    height: 30px;
    color: #8692b2;
    font-size: 14px;
    align-items: center;
    white-space: nowrap;
}

.lock {
    display: flex;
    width: 30px;
    height: 30px;
    color: #8692b2;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-right: 10px;
}

.lock:hover {
    color: #d44950;
}
