
.container {
    flex: auto;
    display: flex;
    overflow-y: auto;
    position: relative;
    flex-flow: row wrap;
    align-content: flex-start;
}

.nocontent {
    color: #ddd;
    width: 200px;
    height: 120px;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    display: flex;
    position: absolute;
    flex-flow: column nowrap;
}

.nocontent::before {
    font-size: 6em;
    text-align: center;
}

.loading {
    color: #ccc;
    width: 200px;
    height: 120px;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    display: flex;
    position: absolute;
    align-items: center;
    flex-flow: column nowrap;
}

.loading i:before {
    font-size: 4em;
    text-align: center;
}

.error {
    color: #ccc;
    width: 200px;
    height: 120px;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    display: flex;
    position: absolute;
    align-items: center;
    flex-flow: column nowrap;
}

.error i:before {
    font-size: 4em;
    text-align: center;
}

.loadMore {
    width: 100%;
    height: 40px;
    color: #ccc;
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: center;
}

.loadMore button {
    color: #8692b2;
    border: none;
    cursor: pointer;
    background: none;
    line-height: 24px;
}

.loadMore button:hover {
    color: #108cee;
}
