
.container {
    padding: 10px;
    display: flex;
    flex-shrink: 0;
    font-size: 12px;
    position: relative;
    align-items: center;
    border-bottom: 1px solid #f3f5f9;
}

.progress {
    display: flex;
    width: 150px;
    height: 8px;
    position: relative;
    border-radius: 5px;
    background: #f3f5f9;
}

.loader {
    position: absolute;
    height: inherit;
    border-radius: 4px;
    background: #2eacfc;
}

.loader.error {
    background-color: rgba(255, 49, 34, 0.5);
}

.summary {
    flex: auto;
    font-size: 12px;
    color: #8692b2;
    word-break: break-all;
}

.summary div {
    display: flex;
    line-height: 20px;
}

.fileicon {
    margin: 0 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.size {
    font-size: 12px;
    color: #8692b2;
}


.status {
    color: #8692b2;
    padding-top: 5px;
    text-align: right;
}

.status i {
    cursor: pointer;
    margin-right: 5px;
}

.status.error {
    color: rgba(255, 49, 34, 0.5);
}

.operation {
    display: flex;
    color: #ccc;
    font-size: 14px;
    min-width: 60px;
    padding-left: 20px;
    align-items: center;
    justify-content: space-around;
}

.operation i:hover {
    cursor: pointer;
    color: #2eacfc;
}

.operation i:last-child:hover {
    color: rgba(255, 49, 34, 0.5);
}
