
.container {
    height: 40px;
    display: flex;
    flex-shrink: 0;
    -webkit-app-region: drag;
    border-bottom: 1px solid #f3f5f9;
}

.body {
    display: flex;
    flex: auto;
    align-items: center;
}

.new {
    cursor: not-allowed;
    color: #ccc;
    font-size: 1.2em;
    padding: 0 30px;
    border-right: 1px dotted #ccc;
}

.start, .pause {
    display: none;
    padding: 0 15px;
}

.clear {
    color: #8692b2;
    padding: 0 15px;
    font-size: 1.3em;
    cursor: pointer;
}

.clear:hover {
    color: #2eacfc;
}
