
.container {
    height: 50px;
    display: flex;
    flex-shrink: 0;
    -webkit-app-region: drag;
    border-bottom: 1px solid #f3f5f9;
}

.body {
    display: flex;
    flex: auto;
    align-items: center;
}

.btn {
    display: flex;
    height: 28px;
    color: #444c63;
    padding: 0 10px;
    cursor: pointer;
    font-size: 12px;
    line-height: 24px;
    border-radius: 3px;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
    border: 1px solid #f3f5f9;
    -webkit-app-region: no-drag;
}

.btn:hover {
    color: #fff;
    background: #8692b2;
    border-color: #8692b2;
}

.btn.clear:hover {
    background: #f06a6a;
    border-color: #f06a6a;
}
