
.container {
    flex: auto;
    display: flex;
}

.body {
    flex: auto;
    display: flex;
    flex-flow: column nowrap;
    width: calc(100% - 150px);
}

.content {
    display: flex;
    flex: auto;
    overflow-y: auto;
    flex-direction: column;
}

.nocontent {
    color: #ddd;
    display: flex;
    align-self: center;
    flex-flow: column nowrap;
    margin-top: calc(50% - 200px);
}

.nocontent::before {
    font-size: 6em;
    text-align: center;
}
