
.container {
    padding: 10px;
    display: flex;
    flex-shrink: 0;
    font-size: 12px;
    position: relative;
    align-items: center;
    border-bottom: 1px solid #f3f5f9;
}

.progress {
    display: flex;
    width: 150px;
    height: 8px;
    position: relative;
    border-radius: 5px;
    background: #f3f5f9;
}

.loader {
    position: absolute;
    height: inherit;
    border-radius: 4px;
    background: #2eacfc;
}

.loader.error {
    background-color: rgba(255, 49, 34, 0.5);
}

.summary {
    flex: auto;
    font-size: 12px;
    color: #8692b2;
    word-break: break-all;
}

.summary div {
    display: flex;
    line-height: 24px;
}

.fileicon {
    margin: 0 20px 0 10px;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.status {
    color: #8692b2;
    flex-shrink: 0;
    margin: 0 10px 0 20px;
}
