
body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    position: relative;
    overflow-y: hidden;
    border-radius: 3px;
    font-family: Arial, Helvetica, Helvetica Neue, serif;
}

button, input, textarea, a, p, i, span, h1, h2, h3, li {
    -webkit-app-region: no-drag;
}

a {
    text-decoration: none;
}

#main {
    width: 100vh;
    display: flex;
    flex: auto;
}

.layout {
    flex: auto;
    width: 100vh;
    display: flex;
    position: relative;
}

.window-bar {
    top: 0;
    right: 0;
    display: flex;
    position: absolute;
}

.darwin-bar {
    top: 20px;
    right: 20px;
    display: flex;
    color: #8692b2;
    position: absolute;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.darwin-bar:hover {
    color: #d44950;
}

.window-bar .fa {
    color: #999;
    width: 35px;
    display: flex;
    cursor: pointer;
    line-height: 24px;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease-in,color 0.3s ease-in;
}

.window-bar .lock:hover,
.window-bar .exit:hover {
    color: #fff;
    background-color: #f06a6a;
}

.window-bar .min:hover,
.window-bar .max:hover {
    color: #fff;
    background-color: #ccc;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    -webkit-appearance: none;
    -webkit-app-region: no-drag;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-app-region: no-drag;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
}
