
body {
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    height: 100vh;
    font-family: Arial, Helvetica, Helvetica Neue, serif;
    overflow-y: hidden;
    -webkit-app-region: drag;
}

button {
    -webkit-app-region: no-drag;
}

#main {
    width: 100vh;
    display: flex;
    flex: auto;
}

.layout {
    flex: auto;
    width: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

.layout .layout-content {
    display: flex;
    flex: auto;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
}
