/* *
 * style - fake
 *
 * @file fake.css
 * @author mudio(job.mudio@gmail.com)
 */

input[type=checkbox] {
    position: relative;
    margin: 0;
    padding: 0;
    width: 14px;
    height: 14px;
    cursor: pointer;
    transition: all .3s;
    display: inline-flex;
    justify-content: center;
    outline: none !important;
    -webkit-appearance: none;
    border: 1px solid #8692B2;
    margin-right: 3px;
}

input[type=checkbox]:checked {
    border-color: #444C63;
    background-color: #444C63;
}

input[type=checkbox]:checked:before {
    top: 2px;
    width: 10px;
    height: 5px;
    content: '';
    color: #fff;
    position: absolute;
    transform: rotate(-45deg);
    border-left: solid 2px currentColor;
    border-bottom: solid 2px currentColor;
}

#main .ant-table-tbody > tr > td,
#main .ant-table-thead > tr > th {
    padding: 0;
    height: 30px;
    border: none;
}

#main .ant-table-thead > tr > th {
    background: #F6F7FB;
    color: #8692B2;
    font-weight: normal;
}

#main .ant-table-tbody > tr > td > * {
    vertical-align: middle;
}

.bce-form.ant-form-inline .ant-form-item {
    margin-bottom: 10px;
}

.bce-form.ant-form-inline .ant-form-item-label {
    margin-right: 10px;
}
