/* *
 * style - tooltip，基于console/dep/inf-style生成
 *
 * @file tooltip.less
 * @author mudio(job.mudio@gmail.com)
 */

[tip] {
  position: relative;
}
[tip]:after {
  width: auto;
  opacity: 0;
  z-index: 1;
  display: block;
  padding: 0 4px;
  line-height: 18px;
  position: absolute;
  visibility: hidden;
  color: #fff;
  font-size: 12px;
  content: attr(tip);
  background-color: rgba(18, 26, 44, 0.8);
  top: 50%;
  left: 100%;
  white-space: pre;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: translate(-5px, -50%);
  transform: translate(-5px, -50%);
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
}
[tip]:hover {
  overflow: visible;
}
[tip]:hover:after {
  opacity: 0.8;
  display: block;
  visibility: visible;
  -webkit-transform: translate(5px, -50%);
  transform: translate(5px, -50%);
}
[tip].tip-top:after,
[tip][tip-align="top"]:after {
  top: auto;
  left: 50%;
  bottom: 100%;
  -webkit-transform: translate(-50%, 5px);
  transform: translate(-50%, 5px);
}
[tip].tip-top:hover:after,
[tip][tip-align="top"]:hover:after {
  -webkit-transform: translate(-50%, -5px);
  transform: translate(-50%, -5px);
}
[tip].tip-bottom:after,
[tip][tip-align="bottom"]:after {
  top: 100%;
  left: 50%;
  bottom: auto;
  -webkit-transform: translate(-50%, -5px);
  transform: translate(-50%, -5px);
}
[tip].tip-bottom:hover:after,
[tip][tip-align="bottom"]:hover:after {
  -webkit-transform: translate(-50%, 5px);
  transform: translate(-50%, 5px);
}
[tip].tip-left:after,
[tip][tip-align="left"]:after {
  top: 50%;
  right: 100%;
  left: auto;
  bottom: auto;
  -webkit-transform: translate(5px, -50%);
  transform: translate(5px, -50%);
}
[tip].tip-left:hover:after,
[tip][tip-align="left"]:hover:after {
  -webkit-transform: translate(-5px, -50%);
  transform: translate(-5px, -50%);
}
[tip].tip-disable:after {
  visibility: hidden !important;
}
[tip=""]:after {
  visibility: hidden !important;
}
