
.container {
    display: flex;
    flex-basis: 150px;
    min-width: 150px;
    background: url(../../assets/sidebar_bg.png) no-repeat;
    background-size: 100% 100%;
    flex-flow: column nowrap;
}

.header {
    height: 50px;
    color: #fff;
    display: flex;
    margin: 0 10px;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    background: url(../../assets/logo.png) no-repeat;
    background-size: cover;
    background-position: 0 50%;
    border-bottom: 1px dotted rgba(238, 238, 238, 0.3);
}

.body {
    font-size: 12px;
    color: #ccc;
    margin: 20px 0;
}

.item {
    flex: auto;
    color: #ccc;
    display: flex;
    cursor: pointer;
    padding: 0 10px;
    line-height: 30px;
    align-items: center;
    text-decoration: blink;
}

.item i{
    width: 15px;
    height: 15px;
    display: flex;
    margin: 0 10px;
}

.item i::before {
    font-size: 14px;
}

.item.active {
    color: #fff;
    position: relative;
    background: rgb(26, 138, 255);
}

.item.active::after {
    top: 4px;
    content: '';
    right: -12px;
    position: absolute;
    transform: rotate(-45deg);
    border-bottom: 22px solid transparent;
    border-left: 22px solid #fff;
}

.badge {
    padding: 1px 8px;
    border-radius: 10px;
    background: #727995;
    display: inline-flex;
    line-height: normal;
    color: #eee;
    font-weight: bold;
    margin-left: 5px;
}

.active .badge {
    background: rgba(10, 84, 183, 0.5);
    color: #fff;
}

.separate {
    margin: 0 10px;
    border-bottom: 1px dotted rgba(238, 238, 238, 0.3);
}
