
.container {
    display: flex;
    flex-basis: 180px;
    min-width: 180px;
    background: #444c63;
    flex-flow: column nowrap;
    -webkit-app-region: drag;
    -webkit-user-select: none;
}

.header {
    display: flex;
    flex-shrink: 0;
}

.body {
    flex: auto;
    color: #fff;
}

.item {
    flex: auto;
    display: flex;
    font-size: 14px;
    color: #8692b2;
    cursor: pointer;
    line-height: 40px;
    align-items: center;
    padding-left: 40px;
    text-decoration: blink;
    transition: background 0.3s ease-in,color 0.3s ease-in;
}

.item:before {
    content: '';
    width: 23px;
    height: 20px;
    margin-right: 10px;
    background: url(../../assets/icon.png) no-repeat;
}

.item.active {
    color: #fff;
    position: relative;
    background: #333b51;
}

.region:before {
    background-position: -1px center;
}

.region.active:before {
    background-position: -23px center;
}

.download:before {
    width: 22px;
    margin-right: 11px;
    background-position: -87px center;
}

.download.active:before {
    background-position: -108px center;
}

.upload:before {
    width: 22px;
    margin-right: 11px;
    background-position: -45px center;
}

.upload.active:before {
    background-position: -66px center;
}

.badge {
    padding: 1px 8px;
    border-radius: 10px;
    background: #727995;
    display: inline-flex;
    line-height: normal;
    color: #eee;
    font-weight: bold;
    margin-left: 5px;
}

.active .badge {
    background: rgba(10, 84, 183, 0.5);
    color: #fff;
}

.tool {
    display: flex;
    flex-flow: column nowrap;
}

.tool>a {
    cursor: pointer;
    font-size: 14px;
    color: #8692b2;
    margin-left: 40px;
    line-height: 24px;
}

.tool>a:hover {
    color: #2eacfc;
}
