
.container {
    display: flex;
    font-size: 14px;
    color: #8692b2;
    padding: 30px 0 20px 40px;
}

.btn {
    min-width: 20px;
    cursor: pointer;
    line-height: 30px;
    position: relative;
    align-items: center;
    display: inline-flex;
    justify-content: center;
}

.btn:hover {
    color: #2eacfc;
}

.btn i:before {
    width: 23px;
    height: 20px;
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: center;
}

.tip {
    top: -24px;
    left: 10px;
    z-index: 1;
    display: none;
    color: #fff;
    cursor: default;
    font-size: 12px;
    padding: 0 10px;
    line-height: 24px;
    position: absolute;
    border-radius: 3px;
    white-space: nowrap;
    background-color: rgba(102,102,102,0.8);
}

.tip a {
    cursor: pointer;
    color: #2eacfc;
}

.tip::before {
    content: '';
    border-bottom: 8px solid transparent;
    border-left: 8px solid rgba(102,102,102,0.8);
    position: absolute;
    bottom: -8px;
    left: 10px;
}

.btn:hover .tip {
    display: block;
}
