
.container {
    right: 0;
    position: absolute;
}

.container div {
    color: #ccc;
    width: 35px;
    height: 100%;
    display: flex;
    cursor: pointer;
    line-height: 24px;
    justify-content: center;
    transition: .3s ease-in, color .3s ease-in;
}

.container .exit,
.container .min,
.container .max {
    z-index: 999;
}

.container .exit:hover {
    color: #fff;
    background-color: #ff4d4f;
}

.container .min:hover,
.container .max:hover {
    color: #fff;
    background-color: #333b51;
}
