/**
 * Component - Modal Style
 *
 * @file Modal.css
 * @author mudio(job.mudio@gmail.com)
 */

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes maskFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: .6;
    }
}

.container {
    z-index: 998;
    width: 100vw;
    height: 100vh;
    position: absolute;
    align-items: center;
    flex-direction: column;
}

.mask {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #444c63;
    animation: .3s both;
}

.confirm {
    z-index: 999;
    min-width: 300px;
    min-height: 200px;
    margin-top: 15%;
    background: #fff;
    flex-direction: column;
    animation: .3s both;
    border-radius: 3px;
    overflow: hidden;
}

.title {
    color: #fff;
    font-size: 14px;
    padding: 0 10px;
    line-height: 40px;
    background: #444c63;
}

.footer {
    font-size: 14px;
    padding: 5px 0;
    background: #fff;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid #ccc;
}

.ok, .cancel {
    height: 30px;
    font-size: 12px;
    padding: 0 16px;
    cursor: pointer;
    line-height: 30px;
    margin-right: 10px;
    border-radius: 3px;
    display: inline-flex;
    transition: background .3s;
}

.ok {
    color: #fff;
    background: #108cee;
}

.ok:hover {
    background: #209bfd;
}

.cancel {
    color: #108cee;
    background: #fff;
    border: 1px solid #f3f5f9;
}

.cancel:hover {
    background: #eaf6fe;
}

.show .confirm {
    animation-name: fadeIn;
}

.show .mask {
    animation-name: maskFadeIn;
}

.hide {
    display: none;
}
