
.selection {
    flex: auto;
    display: flex;
    outline: none;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
}

.selectionBox {
    top: 0;
    left: 0;
    border-radius: 3px;
    position: absolute;
    background: rgba(68, 76, 99, 0.1);
    border: 1px solid rgba(68, 76, 99, 0.2);
}

.selectionItem {
    display: flex;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px 0 0 5px;
}

.selectionItem:hover {
    background-color: #f3f5f9;
}

.selected.selectionItem {
    background-color: #f3f5f9;
}

.checkbox {
    opacity: .4;
    color: #3b8cff;
    visibility: hidden;
    margin: 5px 0 0 5px;
    position: absolute;
}

.selectionItem:hover .checkbox {
    visibility: visible;
}

.selected.selectionItem .checkbox {
    opacity: 1;
    visibility: visible;
}
