
.container {
    flex: auto;
    outline: none;
    display: flex;
    overflow-y: auto;
    position: relative;
}

.selectionBox {
    top: 0;
    left: 0;
    border-radius: 3px;
    position: absolute;
    background: rgba(68, 76, 99, 0.1);
    border: 1px solid rgba(68, 76, 99, 0.2);
}

:global .selectionItem {
    display: flex;
    border-radius: 5px;
    margin: 5px 0 0 5px;
    position: relative;
}

:global .selectionItem:hover {
    background-color: #f3f5f9;
}

:global .selectionItem.selected {
    background-color: #f3f5f9;
}

:global .checkbox {
    opacity: .4;
    cursor: pointer;
    color: #3b8cff;
    visibility: hidden;
    position: absolute;
}

:global .selectionItem:hover .checkbox {
    visibility: visible;
}

:global .selectionItem.selected .checkbox {
    opacity: 1;
    visibility: visible;
}
