
.container {
    flex: auto;
    flex-direction: column;
}

.search {
    height: 150px;
    align-items: center;
    justify-content: center;
}

.search input {
    font-size: 12px;
    width: 200px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 10px;
    background: #444c63;
    border: 1px solid #8692b2;
}

.extensions {
    flex: auto;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 80px 40px 80px;
    flex-flow: column wrap;
}

.extItem {
    font-size: 14px;
    padding: 20px;
    color: #8692b2;
    background: #333b51;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0 10px 10px 0;
}

.extItem img {
    width: 40px;
    height: 40px;
}

.summary {
    padding-left: 20px;
    flex-direction: column;
}

.summary div {
    line-height: 20px;
}

.name {
    color: #fff;
}

.desc {
    font-size: 12px;
}

.operation {
    margin-top: 10px;
    line-height: 30px;
}

.author {
    flex: auto;
}

.tools button {
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 0 10px;
    background-color: rgba(0, 0, 0, .3);
}

.tools button:hover {
    background-color: rgba(0, 0, 0, .5);
}

.tools .upgrade {
    background-color: #0f87f0;
}

.tools .upgrade:hover {
    background-color: #0f82e6;
}
