
.container {
    flex: auto;
    display: flex;
    overflow: hidden;
    background: #444c63;
    flex-flow: column nowrap;
    -webkit-app-region: drag;
}

.container svg {
    width: 100px;
    margin: 40px auto;
}

.loginform {
    flex: auto;
    display: flex;
    margin: 0 20px;
    position: relative;
    flex-direction: column;
}

.loginform input {
    font-size: 12px;
    width: 100%;
    line-height: 40px;
    padding: 0;
    color: #fff;
    background: transparent;
    border: none;
    border-bottom: #8692b2 1px solid;
}

.loginform input::-webkit-input-placeholder {
    color: #8692b2;
}

.loginBtn {
    top: 40px;
    right: 0px;
    border: none;
    cursor: pointer;
    font-size: 26px;
    color: #8692b2;
    background: none;
    line-height: 40px;
    position: absolute;
}

.loginBtn:hover {
    color: #2eacfc;
}

.forgotBtn {
    right: 5px;
    color: #8692b2;
    cursor: pointer;
    font-size: 16px;
    line-height: 40px;
    position: absolute;
}

.forgotBtn:hover {
    color: #2eacfc;
}

.error {
    font-size: 12px;
    color: #ec6c37;
    margin-top: 10px;
}

.error :global(.fa) {
    line-height: 18px;
    margin-right: 5px;
}

.ignorepincode {
    cursor: pointer;
    color: #108cee;
}

.loading {
    top: 40px;
    right: 5px;
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    position: absolute;
}
