
.container {
    flex: auto;
    display: flex;
    background: #232C39;
    -webkit-app-region: drag;
	background-image: linear-gradient(45deg, rgba(0, 216, 255, .5) 10%, rgba(0, 1, 127, .7));
}

.login {
    flex: auto;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    background: url(../assets/login_bg.png) center 90% no-repeat;
}

.login input {
    border: none;
    color: #fff;
    flex: auto;
    padding: 0 10px;
    font-size: 14px;
    line-height: 30px;
    border-radius: 5px;
    background: rgba(43, 46, 48, .5);
}

.login h1 {
    margin-top: 10%;
    font-size: 4em;
    color: #fff;
    text-shadow: 0 0 2px #fff,
        0 0 5px #fff,
        0 0 7px #fff,
        0 0 10px #228DFF,
        0 0 13px #228DFF,
        0 0 20px #228DFF,
        0 0 25px #228DFF,
        0 0 38px #228DFF;
}

.sk, .ak, .pin {
    display: flex;
    width: 300px;
    margin-top: 10px;
}

.loginBtn {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.loginBtn:hover, .loginBtn:focus {
    background-color: rgba(34, 141, 255, 0.8);
}

.error {
    font-size: 12px;
    line-height: 24px;
    color: #fff;
    width: 300px;
}

.loading {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pinInValid:hover {
    cursor: pointer;
    text-shadow: 0 0 2px #fff,
        0 0 5px #fff,
        0 0 7px #fff,
        0 0 10px #228DFF,
        0 0 13px #228DFF,
        0 0 20px #228DFF,
        0 0 25px #228DFF,
        0 0 38px #228DFF;
}

.pinTipWrap {
    left: -25px;
    color: #999;
    display: flex;
    cursor: pointer;
    position: relative;
    align-items: center;
    justify-content: center;
}

.pinTipWrap .pinTip {
    top: 33px;
    padding: 5px;
    display: none;
    color: #fff;
    font-size: 12px;
    min-width: 200px;
    line-height: 20px;
    border-radius: 3px;
    position: absolute;
    background-color: rgba(34, 141, 255, 0.8);
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
    font-family: Arial, Helvetica, Helvetica Neue;
}

.pinTipWrap .pinTip:before {
    top: -10px;
    left: 94px;
    content: '';
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgba(34, 141, 255, 0.8);
}

.pinTipWrap:hover {
    color: #108cee;
}

.pinTipWrap:hover .pinTip {
    display: inline-flex;
}
