
.container {
    flex: auto;
    display: flex;
    z-index: 900;
    background: #232C39;
    flex-flow: column nowrap;
	background-image: linear-gradient(45deg, rgba(0, 216, 255, .5) 10%, rgba(0, 1, 127, .7));
}

.login {
    flex: auto;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    -webkit-app-region: drag;
    background: url(../assets/login_bg.png) center 90% no-repeat;
}

.login input {
    border: none;
    color: #fff;
    flex: auto;
    padding: 0 10px;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    background: rgba(153, 153, 153, .5);
}

.login h1 {
    color: #fff;
    margin-top: 10%;
    font-size: 4em;
    -webkit-user-select: none;
    text-shadow: 0 0 2px #fff,
        0 0 5px #fff,
        0 0 7px #fff,
        0 0 10px #228DFF,
        0 0 13px #228DFF,
        0 0 20px #228DFF,
        0 0 25px #228DFF,
        0 0 38px #228DFF;
}

.sk, .ak, .pin {
    display: flex;
    width: 300px;
    margin-top: 10px;
}

.pin:after {
    width: 100%;
    white-space: initial;
    word-break: break-all;
}

.loginBtn {
    display: flex;
    border: none;
    cursor: pointer;
    font-size: 26px;
    color: rgba(153, 153, 153, .5);
    background: none;
    align-items: center;
    justify-content: center;
}

.loginBtn:hover, .loginBtn:focus {
    color: rgba(34, 141, 255, 0.8);
}

.error {
    font-size: 12px;
    line-height: 24px;
    color: #f64545;
    width: 300px;
}

.loading {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forgot {
    width: 300px;
    color: #fff;
    font-size: 14px;
    display: flex;
}

.forgot button {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 16px;
    margin-right: 6px;
    color: #108cee;
    cursor: pointer;
    background: none;
}

.forgot span {
    display: inline-flex;
    flex: auto;
}
