
.container {
    flex: auto;
    display: flex;
    overflow: hidden;
    background: #444c63;
    flex-flow: column nowrap;
    -webkit-app-region: drag;
}

.logo {
    width: 100px;
    margin: 50px auto 20px auto;
}

.loginform {
    flex: auto;
    display: flex;
    margin: 0 20px;
    position: relative;
    flex-direction: column;
}

.loginform input {
    font-size: 12px;
    width: 100%;
    line-height: 40px;
    padding: 0;
    color: #fff;
    background: transparent;
    border: none;
    border-bottom: #8692b2 1px solid;
}

.loginform input::-webkit-input-placeholder {
    color: #8692b2;
}

.loginBtn {
    right: 0;
    top: 50px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: absolute;
}

.loginBtn:hover svg {
    fill: red;
}

.helplink {
    cursor: pointer;
    color: #8692B2;
    line-height: 30px;
    align-self: flex-start;
}

.helplink:hover {
    color: #108cee;
}

.accesskey {
    font-size: 12px;
    color: #8692B2;
    line-height: 40px;
}

.accesskey .forgotBtn {
    cursor: pointer;
    color: #fff;
    float: right;
}

.accesskey .forgotBtn:hover {
    color: #108cee;
}

.loading {
    top: 40px;
    right: 5px;
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    position: absolute;
}

.tip {
    height: 30px;
    align-self: center;
}

.tip .text :global {
    display: inline-block;
    padding: 0 10px;
    color: #f66664;
    line-height: 30px;
    border-radius: 15px;
    animation: shake both .3s;
    background: rgba(41, 47, 65, .3);
}

.text.info {
    color: #FFB129;
}
