
.container {
    display: flex;
    width: 90px;
    height: 90px;
    color: #666;
    cursor: pointer;
    margin: 5px 0 0 5px;
    border-radius: 5px;
    flex-flow: column wrap;
    align-self: flex-start;
    align-items: center;
    justify-content: flex-start;
    user-select: none;
}

.container:hover {
    background-color: #f3f5f9;
}

.text {
    width: 95%;
    font-size: 12px;
    text-align: center;
    overflow: hidden;
    display: -webkit-box;
    word-wrap: break-word;
    word-break: break-all;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

.bucketicon {
    display: flex;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    margin-top: 5px;
}
