
.gridLayout {
    display: flex;
    width: 90px;
    color: #666;
    min-height: 80px;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    user-select: none;
}

.gridLayout .text {
    width: 95%;
    font-size: 12px;
    text-align: center;
    overflow : hidden;
    display: -webkit-box;
    word-wrap: break-word;
    word-break: break-all;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

.gridLayout .icon {
    display: flex;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    margin-top: 5px;
}

.listLayout {
    display: flex;
    flex: auto;
    color: #666;
    align-items: center;
    line-height: 30px;
    user-select: none;
    padding-right: 10px;
}

.listLayout .icon {
    display: flex;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.listLayout .text {
    width: 0;
    flex: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

.listLayout .extra {
    width: 80px;
}

.listLayout .time {
    width: 120px;
}

.listLayout:hover .commands span {
    visibility: initial;
}

.commands {
    display: flex;
}

.commands span {
    display: flex;
    width: 24px;
    flex: auto;
    height: 30px;
    cursor: pointer;
    color: #8692b2;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    transition: background .3s ease-in-out;
}

.commands span:hover {
    color: #fff;
    background: #108cee;
}

.commands span:last-child:hover {
    background: #f06a6a;
}