
.container {
    display: flex;
    width: 90px;
    color: #666;
    min-height: 80px;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    -webkit-user-select: none;
}

.text {
    width: 95%;
    font-size: 12px;
    text-align: center;
    overflow : hidden;
    display: -webkit-box;
    word-wrap: break-word;
    word-break: break-all;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

.fileicon {
    display: flex;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    margin-top: 5px;
}
