
.container {
    display: flex;
    height: 50px;
    flex-shrink: 0;
    user-select: none;
    -webkit-app-region: drag;
    border-bottom: 1px solid #f3f5f9;
}

.navGroup {
    height: 30px;
    display: flex;
    padding: 10px;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.navGroup .navBtn:first-child {
    border-radius: 3px 0 0 3px;
}

.navGroup .navBtn:last-child {
    border-radius: 0 3px 3px 0;
}

.navGroup .navBtn {
    display: flex;
    width: 28px;
    height: 28px;
    cursor: pointer;
    color: #8692b2;
    align-items: center;
    justify-content: center;
    border: 1px solid #f3f5f9;
}

.navGroup .navBtn:hover {
    background-color: #f3f5f9;
}

.navGroup .navBtn.disable {
    color: #ccc;
    cursor: not-allowed;
}

.url {
    display: flex;
    flex: auto;
    height: 28px;
    font-size: 12px;
    color: #8692b2;
    position: relative;
    align-self: center;
    user-select: text;
}

.inputWarp {
    width: 0;
    flex: auto;
    display: flex;
    padding: 0 5px;
    font-size: 12px;
    color: #8692b2;
    align-items: center;
    margin-right: 20px;
    border-radius: 3px;
    border: 1px solid #f3f5f9;
    -webkit-app-region: no-drag;
}

.inputWarp input {
    border: none;
    flex: auto;
    display: inline-flex;
}

.inputWarp .search {
    cursor: pointer;
}

.inputWarp .searchLabel {
    color: #fff;
    background: #108cee;
    border-radius: 5px;
    padding: 0 5px;
    margin-right: 5px;
}

.searchNavigator {
    display: flex;
    overflow: hidden;
}

.inputWarp .searchNavigator span {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
}

.inputWarp .searchNavigator span[data-prefix = ''] {
    flex-shrink: 0;
}

.inputWarp .searchNavigator span:hover {
    color: #108cee;
}

.inputWarp .searchNavigator span:before {
    content: attr(data-prefix);
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
}
.inputWarp .searchNavigator span:after {
    content: attr(data-suffix);
    display: inline-flex;
    margin-right: 2px;
    /* width: 0;
    height: 0;
    margin: 0 3px;
    border-top: 4px solid transparent;
    border-left: 8px solid #8692B2;
    border-bottom: 4px solid transparent; */
}

.inputWarp:focus, .inputWarp:hover {
    color: #444c63;
}

.match {
    position: absolute;
    top: 40px;
    padding: 0;
    margin: 0;
    left: 65px;
    z-index: 10;
    list-style: none;
    overflow-y: auto;
    max-height: 200px;
    background: #fff;
    width: calc(100% - 66px);
    border-left: 1px solid #f3f5f9;
    border-right: 1px solid #f3f5f9;
    border-bottom: 1px solid #f3f5f9;
}

.match li {
    padding: 0 10px;
    cursor: pointer;
    line-height: 30px;
}

.match li:hover {
    color: #444c63;
    background: #f3f5f9;
}

.selected {
    color: #444c63;
    background: #f3f5f9;
}

.badge {
    color: #fff;
    background: #2CB663;
    border-radius: 3px;
    font-size: 10px;
    padding: 2px;
    margin-right: 2px;
}