
.container {
    flex: auto;
    display: flex;
    position: relative;
    flex-flow: column nowrap;
    align-content: flex-start;
}

.nocontent {
    color: #ddd;
    width: 200px;
    height: 120px;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    display: flex;
    position: absolute;
    flex-flow: column nowrap;
}

.nocontent::before {
    font-size: 6em;
    text-align: center;
}

.error {
    color: #ccc;
    width: 200px;
    height: 120px;
    font-size: 14px;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    display: flex;
    position: absolute;
    align-items: center;
    flex-flow: column nowrap;
}

.error i:before {
    font-size: 4em;
    text-align: center;
}

.loadMore {
    color: #fff;
    display: flex;
    flex-shrink: 0;
    padding: 0 10px;
    background: #108cee;
    align-items: center;
}

.loadInfo {
    flex: auto;
}

.loadInfo :global .fa {
    margin-right: 5px;
}

.loadInfo button {
    border: none;
    cursor: pointer;
    background: none;
}

.gridLayout {
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
}

.gridLayout :global .checkbox {
    margin: 5px 0 0 5px;
}

.listLayout {
    flex-flow: column;
}

.listLayout :global .selectionItem {
    margin: 0;
    flex-shrink: 0;
    border-radius: 0;
    align-items: center;
}

.listLayout :global .selectionItem + .selectionItem {
    border-top: 1px solid #fff;
}

/**
 * FIXME Layout render性能极差 先撑开
 */
.listLayout :global .selectionItem:before {
    content: '';
    width: 20px;
}

.listLayout :global .checkbox {
    margin: 0 5px;
}

.head {
    display: flex;
    padding-right: 10px;
    flex-shrink: 0;
    color: #8692B2;
    line-height: 30px;
    background: #F6F7FB;
}

.textCol {
    flex: auto;
    align-items: center;
    display: inline-flex;
}

.textCol input {
    margin: 0 5px;
}

.extraCol {
    width: 80px;
}

.extraCol:last-child {
    width: 120px;
}
